* {
	font-size: 14px;
	font-family: Roboto, 'Symbols Nerd Font';
	/*min-height: 30px;*/
}

window#waybar {
	color: #d8dee9;
	background: rgba(46,52,64, 0.75);
	border-radius: 7px;
}

#workspaces,
#mode,
#window,
#idle_inhibitor,
#custom-weather,
#pulseaudio,
#memory,
#cpu,
#clock,
#battery,
#backlight,
#disk,
#custom-pacman,
#custom-aur,
#custom-swap,
#custom-spotify,
#custom-separator,
#taskbar,
#custom-recorder
#tray {
	padding: 0px 7px 0px 7px;
	text-shadow: 1px 1px 1px #2e3440;
	border-radius: 0px;
}

#custom-separator {
	color: #4c566a;
	text-shadow: none;
	background: none;
	padding: 0px;
	opacity: 0;
}

#mode {
	margin-left: 5px;
	background: #bf616a;
}

#clock,
#custom-spotify {
	background: rgba(94,129,172, 0.75);
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

#custom-pacman {
	background: rgba(94,129,172, 0.75);
}

#custom-weather {
	background: rgba(94,129,172, 0.75);
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

#custom-recorder {
	font-size: 18px;
	margin: 2px 7px 0px 7px;
	color:#c9545d;
}

#workspaces {
	padding: 0px;
}
#workspaces button {
	padding: 0px 5px 0px 5px;
	border-radius: 0px;
	border-bottom: 2px solid transparent;
}
#workspaces button.focused {
	background: #5e81ac;
	border-bottom: 2px solid #c9545d;
}
#workspaces button.urgent {
	color: #c9545d;
}
#workspaces button#sway-workspace-1 {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}



#taskbar {
	font-family: 'DarK-svg';
	padding: 0px;
}
#taskbar button {
	border-radius: 0px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-shadow: 1px 1px 1px #2e3440;
}
#taskbar button.active {
	background: rgba(180, 142, 173, 0.5);
}
